body{
    font: 12px helvetica,arial,freesans,clean,sans-serif;
    line-height: 1.4em;
    color: #444;
}

*{
    margin:0;
    padding:0;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    outline: 0 none;
    vertical-align: baseline;
}

a, a:hover, a:visited, a:active{
    text-decoration:none;
    color: #448844;
}

#header h1 a{
    font-size: 2.5em;
    line-height: 1.1em;
    color: #444;
}

h2{
    color:#666;
    font-size:2em;
}

h6{
    padding-bottom:1em;
}

iframe.rich-text-editor{
    padding:1em;

}

/*big blue button*/
.context-button,
.context-button:hover,
.context-button:active,
.context-button:visited{
    float:right;
    font-size: 1.2em;
    padding:0 1em;
    background-color:#4488cc;
    color: #fff;
    background:-moz-linear-gradient(270deg, #33AA33, #448844) repeat scroll 0 0 transparent;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius:9px;
    box-shadow:1px 2px 3px #ccc; -moz-box-shadow:1px 2px 3px #ccc; -webkit-box-shadow:1px 2px 3px #ccc;
}

.wrap{
    overflow:hidden;
}

.inline{
    display:inline;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}


.align-right{
    text-align: right;
}

.left-pane{
    float:left;
    width: 65%;
}

.right-pane{
    float: right;
    width: 33%;
}

.half{
    float:left;
    width:50%;

}

.third{
    float:left;
    width: 30%;
    text-align:left;
}

.three-fifth{
    width: 80%;
    float:left;
}

.fifth{
    float:left;
    width: 20%;
}

/** itemlist **/

.itemlist li{
    padding: 1em;
    overflow:hidden;
    border-bottom:1px solid #ccc;
}

.itemlist .half{
    margin-right:2em;
}


/**
 * gray buttons that light up green
 */
.button, .button:visited{
    background-color: #F4F4F4;
    background:-moz-linear-gradient(center top , #F4F4F4, #ECECEC) repeat scroll 0 0 transparent;
    border: 1px solid #E0E0E0;
    border-color: #EEE #E0E0E0 #E0E0E0 #EEE;
    padding:0.3em 0.7em;
    text-align:center;
    line-height:2em;
    cursor:pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    color: #444;
    font:inherit;
    margin-right:0.5em;
}

.button:hover, .input-file-wrapper:hover label{
    background-color: #33AA33;
    background:-moz-linear-gradient(center top , #33AA33, #448844) repeat scroll 0 0 transparent;
    color: #fff;
}


#container{
    width: 960px;
    margin: 0 auto;
    overflow:hidden;
}

#user-navigation{
    width: 18em;
    border: 1px solid green;
    float: right;
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: -moz-linear-gradient(270deg, #FCFCFC, #ECECEC) repeat scroll 0 0 transparent;
    border-color: #E9E9E9 #E9E9E9 #F5F5F5;
    border-style: solid;
    border-width: 1px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top: medium none;
    float: right;
    font-size: 12px;
    padding: 8px 5px 7px 10px;
}


#user-navigation li{
    border-right: 2px ridge #CFCFCF;
    display: inline;
}

#user-navigation li:last-child{
    border: none;
}


#user-navigation li a{
    color: #444444;
    display: inline;
    padding: 0 1em;
    text-shadow: 1px 1px 0 #EEEEEE;
}


#main-navigation{
    margin-top:2em;
    clear: both;
    border-color:#E9E9E9 #E9E9E9 #E0E0E0;
    border-style:solid;
    border-width:1px;
    background-color:#ECECEC;
    background:-moz-linear-gradient(270deg, #FCFCFC, #ECECEC) repeat scroll 0 0 transparent;
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius:5px;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
}

#main-navigation ul li{
    background:none;
    display: inline;
}

#main-navigation a{
    line-height: 3em;
    margin: 0 1em;
    -moz-border-radius: 4px 4px 4px 4px;
    color: #666666;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}

#context-navigation{
    overflow: hidden; clear:both;
}

#titlebar{
    margin: 1em 0;
    line-height: 3em;
    overflow:hidden;
}

#titlebar .title{
    float: left;
    width: 30%;
}

/*tabs*/
.secondary-navigation{
    background:#E0E0E0;
    overflow:hidden;
    border:1px solid #f0f0f0;
    padding: 0.3em 0;
    border-top:none;

    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.49, #9C9C9C), color-stop(0.85, #757575));
    background: -moz-linear-gradient(center bottom, #ECECEC 49%, #E0E0E0 85%);
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
}
.secondary-navigation li{
    display:inline;
    overflow:auto;
}

.secondary-navigation li a{
    padding: 0 0.5em;
    margin: 0 0.5em;
    line-height:2.4em;
    border-radius: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    display:inline-block;
    text-shadow:#eef 1px 1px 0px;
    border: 1px solid transparent;
}
.secondary-navigation li.active a{
    background-color:#fff;
    border: 1px solid #E0E0E0;
    border-color:  #B9B9B9 #ECECEC #ECECEC #B9B9B9;
}
.secondary-navigation li a:hover{
    color:#fff;
    background-color:#448844;
    text-shadow:#ccc 1px 1px 1px;
}

/** vertical lists **/

.verticalnav{
    list-style:none;
    line-height: 2em;
    margin: 0 1em 0 0;
    padding: 0 0 1em 0;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    background: -moz-linear-gradient(center top , #F6F6F6, #FEFEFE) repeat scroll 0 0 transparent;
}

.verticalnav li h4{
    padding: 0.3em 1em;
    margin: 0 0 1em 0;
    color: #666;
    background-color: #EFEFEF;
    border-bottom:1px solid #E0E0E0;
    background: -moz-linear-gradient(center top , #E4E4E4, #EFEFEF) repeat scroll 0 0 transparent;
}

.verticalnav li a{
    margin: 0 0.5em;
    padding: 0 0.5em;
    display:block;
    border-radius: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    white-space: nowrap;
    border: 1px solid transparent;
    overflow:hidden;
}

.verticalnav li a.active{
    cursor:default;
    background-color:#fff;
    border: 1px solid #E0E0E0;
    border-color:  #B9B9B9 #ECECEC #ECECEC #B9B9B9;
}

/** thumbnail lists **/



.thumbnails{
    list-style: none;
    clear: both;
    overflow:hidden;
}
.thumbnails li{
    float: left;
    width: 10em;
    height: 10em;
    margin:1em;
    border: 1px solid #45703A;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
}

.thumbnails dl{
    margin: 0.5em;
    overflow:hidden;
}

.thumbnails li dt{
    width:100em;
    text-align:left;
    height:2em;
}

.thumbnails li dd{
    width:9em;
    height:7em;
    margin: auto;
    overflow:hidden;
    text-align:center;
}

#imagecrop{
    overflow:none;
    height: 300px;
    width: 100%;
    overflow:auto;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
}

/**
 *forms
 */
form.form, .itemlist{
    background-color: #fefefe;
    background:-moz-linear-gradient(center top , #F6F6F6, #fefefe) repeat scroll 0 0 transparent;
    border: 1px solid #E0E0E0;
    /*padding:0.5em 1em;*/
    border-radius: 3px;
    line-height: 2em;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    margin-bottom:0.5em;

}

form.form p{
    padding:1em;
}

form.form .toolbar, .list-header{
    text-align:right;
    padding: 0.3em 1em;
    color: #666;
    background-color: #EFEFEF;
    border-bottom:1px solid #E0E0E0;
    background: -moz-linear-gradient(center top , #E4E4E4, #EFEFEF) repeat scroll 0 0 transparent;
}

.formElementWrapper{
    margin: 0 1em;
}

form.form input, form.form textarea{
    font-family: inherit !important;
}

form.form input.input-text, form.form textarea{
    border: 1px solid #E0E0E0;
    padding:0.2em 0.5em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    background-color: #fff;
    display:block;
    width: 60%;
}

form.form fieldset{
}

form.form fieldset fieldset{
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    padding:1em;
    width: 60%;
}

input.input-submit{
    background-color: #F0F0F0;
    background:-moz-linear-gradient(center top , #F0F0F0, #ECECEC) repeat scroll 0 0 transparent;
    border: 1px solid #E0E0E0;
    padding:0.3em 0.7em;
    cursor:pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    margin: 0 0.5 0 0;
}

input.input-file{
    background-color: #ffffff;
    color:transparent;
    font: inherit;
    display:inline;
    width: 100px;
    cursor:pointer;
}

.input-file-wrapper{
    cursor:pointer;
    margin:2em 1em;
    overflow:hidden;
    width: 255px;
    background-color: #fff;
    border: 1px solid #E0E0E0;
    padding:0.5em;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
}

.input-file-wrapper label{
    position: absolute;
    padding: 0 1em;
    cursor: pointer;
    z-index: 0;
}


.submit-wrapper{
    text-align:right;
    padding:1em;
}

input.input-submit:hover{
    background-color: #33AA33;
    background:-moz-linear-gradient(center top , #33AA33, #448844) repeat scroll 0 0 transparent;
    color: #fff;
}

/** rte **/
.item-content-wrapper{
    overflow:hidden;
/*    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
*/    background:-moz-linear-gradient(center top , #F0F0F0, #ECECEC) repeat scroll 0 0 transparent;
/*    margin:1em;
*/}

.rte-toolbar{
    border: 1px solid #E0E0E0;
    overflow: hidden;
    display:block;
    clear:both;
    background:-moz-linear-gradient(center top , #F0F0F0, #ECECEC) repeat scroll 0 0 transparent;
    border-bottom: #E0E0E0;
}

.item-content-wrapper textarea.rich-text-editor{
    background-color: #fff;
    height: 240px;
    display:block;
    width:97%;

}

iframe.rich-text-editor{
    background-color: #fff;
    height: 240px;
    display:block;
    width:100%;
}

.rte-toolbar p select{
    padding: 0.1em 0.3em;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    background-color: #fff;
    overflow:hidden;
    display:block;
    float: left;
    font-family:inherit;
    font-size:inherit;
}

.rte-toolbar p select option{
    padding: 0.1em 1.8em;
    line-height:3em;
    background-position: center left;
    background-repeat:no-repeat;
}


.rte-toolbar p select option:nth-child(1){
    background-image: url('icons/text_indent.png');
}

.rte-toolbar p select option:nth-child(2){
    background-image: url('icons/text_align_left.png');
}

.rte-toolbar p select option:nth-child(3){
    background-image: url('icons/text_heading_1.png');
}

.rte-toolbar p select option:nth-child(4){
    background-image: url('icons/text_align_right.png');
}


.rte-toolbar p a{
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    background-color: #fff;
    overflow:hidden;
    display:block;
    float: left;
    width: 1.8em;
    height: 1.8em;
    text-indent: -9999px;
    background-position: center center;
    background-repeat:no-repeat;
}

.rte-toolbar p a.bold{
    background-image: url('icons/text_bold.png');
}

.rte-toolbar p a.italic{
    background-image: url('icons/text_italic.png');
}

.rte-toolbar p a.unorderedlist{
    background-image: url('icons/text_list_bullets.png');
}

.rte-toolbar p a.link{
    background-image: url('icons/link.png');
}

.rte-toolbar p a.image{
    background-image: url('icons/image.png');
}

.rte-toolbar p a.disable{
    background-image: url('icons/page_code.png');
}

/** ui theme overrides **/
.ui-dialog .ui-dialog-content{
    padding:0;
}

.ui-dialog-titlebar{
    display:none;
}

.ui-widget-content form{
    padding:0;
    margin:0;
}
