[settings]
template_path = Template/Yocto

[admin]
username   = "admin"
password   = "$1$VgWvLVmk$FE9fwOSnrF8vP8iRknxly1"

[database]
dsn = "mysql:dbname=pico;host=127.0.0.1"
username = pico
password = pico

[layout]
default.base        = APPLICATION_PATH
default.path        = "view"
default.layoutPath  = "layout.phtml"
default.structure   = "/:view/:action.phtml"

admin.base      = APPLICATION_PATH
admin.path      = "modules/Admin/"
admin.layoutPath    = "layout.phtml"
admin.structure = "/:view/:action.phtml"

[route]
image.route = "/image/:type/:id"
image.defaults.view = "image"
image.defaults.action = "list"
image.defaults.type = "image"
image.defaults.id = "1"

admin.route   = "/admin/:view/:action/:id"
admin.defaults.module     = "admin"
admin.defaults.view = "image"
admin.defaults.action     = "list"

site.route = "/:primary/:secondary"
site.defaults.view = "index"
site.defaults.primary = "home"
site.defaults.secondary = null
