[settings]
template_path = Template/Yocto

[admin]
username   = "admin"
password   = "meQOiUfr.74AU"

[database]
dsn = "mysql:dbname=pico;host=127.0.0.1"
username = pico
password = pico

[plugins]
ItemThumbnail = 1
CustomField = 1

[layout]
default.base        = APPLICATION_PATH
default.path        = "view"
default.layoutPath  = "layout.phtml"
default.structure   = "/:view/:action.phtml"

admin.base      = APPLICATION_PATH
admin.path      = "modules/Admin/"
admin.layoutPath    = "layout.phtml"
admin.structure = "/:view/:action.phtml"

[thumbnail]
dimensions.0 = 267x176
dimensions.1 = 133x176
dimensions.2 = 179x144

[custom_field]
fields.category = 'Category'
