#main-content{
    overflow: auto;
    padding: 1em;
}

#menu-left{
    float: right;
    width: 18%;
    padding-bottom: 4em;
}

#main-left{
    float: left;
    width: 80%;
    padding-bottom: 4em;
}

.wrap{
    overflow: auto;
}
