body,html{
    height: 100%;
}

#main-content{
    position: absolute;
    top: 120px;
    bottom: 4px;
    border-bottom: 4px solid  #444;
    width: 100%;
    overflow: auto;
}

#main, .reps{
    height: 100%;
}

.abps{
    border: 1px solid green;
}


#menu-left{
    float: right;
    width: 18%;
}

#main-left{
    float: left;
    width: 80%;
    margin: 0 1em;
}

.wrap{
    overflow: auto;
}

table.viewport{
    width: 100%;
}

table.viewport td label,
table.viewport td a{
    display: block;
}


.pico-linktree{
    position: relative;
    width: 200px;
    height:100%;
}

.pico-linktree div.itemGroup{
    height: 100%;
    width: 200px;
    position: absolute;
    left: 100%;
    top:0;
}

.pico-linktree ul{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.pico-linktree li{
    padding: 0 7px 3px 7px;
}

.pico-linktree li.active,
.pico-linktree li.active > a{
    background-color: #090;
    color: #fff;
}
