@import "reset.css";

body, html{
    color: #1b380a;
    font: 12px/20px "Arvo", "Arial", "Helvetica", sans-serif;
    letter-spacing:+1px;
}

a img{
    border:0;
}

h2{
    font-weight: bold;
    font-style: italic;
    padding: 0 0 1em 0;
}

#page{
    width:832px;
    margin:0 auto;
    overflow: auto;
}

#navigation{
    margin: 1em 0 2em 150px;
    padding: 0 0 0 40px;
    height: 97px;
    line-height: 110px;
    overflow:hidden;
    text-align:right;
    background: #1b380a url('/img/nav_bg.png') no-repeat top left;
}

#navigation a,
#navigation a:hover,
#navigation a:visited,
#navigation a:active{
    color: #fff;
    text-decoration: none;
}

.active{
    font-style: italic;
}

.sep{
    color: #fff;
    padding: 0 1em;
}


#logo{
    float: right;
    margin: 0 0 0 2em;
    width: 284px;
}

#nav-collection{
    float: left;
    width: 200px;
    text-align:left;
}

.caroussel{
    height: 357px;
    overflow:hidden;
    margin-bottom:2em;
    border:1px solid #ebebeb;
}

.content-item{
    width: 65%;
    float: left;
    padding-bottom:1em;
    margin-bottom:1em;
    border-bottom: 0.5em double #1b380a;
}

.thumbnail-nav{
    float: right;
    width: 35%;
}

.thumbnails{
    overflow:hidden;
    width: 270px;
    float: right;
    border: 1px solid #ebebeb;
    background-color:#eee;
    padding: 0.5em 0;

}

.thumbnails li{
    float: right;
    padding: 0 0.5em 0.5em 0;
}

.thumbnails li a{
    border:1px solid #fff;
    display:block;
    width: 80px;
    height: 75px;
    overflow:hidden;
}

.thumbnails li a img{
    margin-left: -1em;
}

/** labels **/
#secondary-navigation{
    padding: 0 1em;
    background: #fff url('/img/secnav_bg.png') no-repeat top left;
    height: 197px;
}

#secondary-navigation h2{
    padding-top: 1em;
}

#narrow-column-left .content{
    padding-right: 1em;
    color: #a74e24;
}



#narrow-column-left{
    width: 266px;
    float: left;
}

#image-preview-area{
    width: 566px;
    float: right;
}

.images a,
.images a:visited{
    text-decoration: none;
    color: #a74e24;
    margin: 0 0.5em 0 0;
}

.navigation a,
.navigation a:visited{
    text-decoration: none;
    color: #444;
}

.navigation a.active{
    color: #a74e24;
}

.images a:hover,
.navigation a:hover{
    text-decoration:underline;
    color: #a74e24;
}

.images li{
    float: left;
    width: 188px;
    margin-bottom: 1em;
}

.images li .border-padding{
    border: 1px solid #ebebeb;
    padding: 7px;
    overflow:hidden;
    height: 15em;
}


