@import "reset.css";
@import "layout.css";

body, p, a, label{
    font: 12px/18px "FreeSans", "Lucida Grande", "Arial", sans-serif;
    line-height: 2em;
    font-size: 12px;
    color: #444;
}

h1,h2,h3,h4{
    font-size: 1.2em;
    padding-right: 0.5em;
}

a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: #449944;
}

a:hover, a.active{
    text-decoration: underline;
}

td,th{
    text-align: left;
    vertical-align: top;
    padding: 0.2em 0.5em;
}

tr.even{
    background-color: #e6f6e6;    
}

img{
    vertical-align: middle;
    display: inline-block;
    margin: auto;
}

input, select, textarea{
    font: 1em/1em "FreeSans", "Lucida Grande", "Arial", sans-serif;
    float: left;
    clear: right;
}

label{
    float: left;
    width: 8em;
}

hr{
    border: 1px solid #efefef;
}

fieldset{
    border: 1px solid #99CC99;
    margin:0.5em;
    padding: 0.5em 0 0;
}

.toolbar, .pager{
    border:none;
}

fieldset.toolbar, .toolbar{
    background-color: #F0EBE2;
    overflow:hidden;
    padding: 0.5em;
    margin:0;
    clear: both;
}

fieldset .toolbar{
    margin-top: 1em;
    background-color: #99CC99;
}

table.viewport{
    width: 100%;
}

li a{
    padding: 0 1em;
}

li a.active{
    background-color: #99cc99;
    text-decoration: none;
    /*padding:0.5em;*/
    display:block;
    color: #fff;
}

td label{
    width: auto;
}



#main-content{
    border: 0.5em solid #66cc66;
    border-top: 0;
}

#main-actions h2{
    color: #fff;
}

#main-actions{
    background-color: #66cc66;
}

.menu{
    padding: 0.5em 0;
    /*margin-bottom: 1em;*/
    border-bottom: 1px solid #66cc66;
}

input.input-text, textarea.input-text{
    width: 160px;
}

textarea.input-text{
    height: 4.2em;
}

select.select-select{
    margin-left:8em;
    width: 165px;
}

.formElementWrapper .input-submit{
    margin-top: 1em;
    float: left;
}

.formElementWrapper{
    overflow: auto;
    padding: 0.2em 0.5em;
}

a.button{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #c6ecc6;
    color: #464;
    padding: 0.2em 0.5em;
    margin-right: 0.5em;
}

a.button:hover{
    background-color: #ccf6cc;
}

/** decorative stuff in main-content */

#main-content p{
    padding: 0.5em 1em;
}

#main-content ul{
    padding: 1em;
    list-style: disc;
    list-style-position: inside;
}

/** rte editor **/

#main-content form{
    display: block;
    overflow:hidden;
}

.item-form{
    /*margin: 1em 0;*/
    width: 330px;
    float: left;
}

.link-form{
    width: 400px;
    padding:0;
}

#content-column{
    width: 450px;
    float: left;
    margin: 1em;
}

.item-content-wrapper{
    border: 3px solid #99CC99;
    margin-bottom: 1em;
}

iframe.rich-text-editor{
    border: 1px inset #ccc;
    display:block;
    margin:auto;
    width:100%;
}