@import "reset.css";
@import "layout.css";

body, p, a, label{
    font: 12px/18px "FreeSans", "Lucida Grande", "Arial", sans-serif;
    line-height: 2em;
    font-size: 12px;
    color: #444;
}

a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: #090;
}

a:hover{
    text-decoration: underline;
}

h1{
    font-size: 2em;
    line-height: 2em;
}

td,th{
    text-align: left;
    vertical-align: top;
}

input, select, textarea{
    font: 1em/1em "FreeSans", "Lucida Grande", "Arial", sans-serif;
}

.buttonbar, .toolbar{
    line-height: 3em;
    text-align: right;
    background-color: #eee;
    padding-right: 1em;
    font-weight: bold;
}

.input-checkbox{
    float: left;
}

.formElementWrapper label input
, .formElementWrapper label textarea{
    display: block;
    clear: both;
}

.formElementWrapper{
    padding: 0 1em;
}

.colorpicker-color{
    border: 1px inset #333;
}

.colorpicker-color:hover{
    border: 1px solid #99cc99;
}

.colorpicker{
    width: 1.2em;
    height: 1em;
    text-indent: -100em;
    float: left;
    margin-right: 1em;
    border: 1px inset #333;
}

#main{
    position: absolute;
    top:0;left:0;bottom:0;right:0;
}

#menu-left, #main-left{
    border: 1px solid #eee;
    border-width: 0px 1px 1px 1px;
}



#header{
    background-color: #373D40;
    overflow: hidden;
    text-align: right;
}

#header .wrap{
    padding: 1em;
}

#header h1{
    margin:0;
    float: left;
    color: #fff;
}

#main-menu{
    background-color: #6C7275;
    overflow: hidden;
}

#main-menu ul li{
    position: relative;
    float: left;
    margin:0;
}

#main-menu a{
    color: #eee;
    display:block;
    padding: 0 1em 0 0;
}

#main-menu a:hover{
    background-color: #7a8185;
}

/** images list **/

#images dl{
    width: 8em;
    height: 10em;
    padding: 0.4em;
    margin: 0.5em;
    margin-left:0;
    float: left;
    border: 1px solid #eee;
}

#images .active{
    background-color: #009900;
    border: 1px solid #ccc;
}

#images dl .input-checkbox{
    display: none;
}


#images dl .input-text{
    display: block;
    margin: auto;
    width: 90px;
    background-color: transparent;
    border: 1px solid transparent;
}

#images dl .input-text:focus{
    border: 1px solid green;
    background-color: #fff;
}

#images dl label{
    text-align: center;
    display: block;
}

#images label img{
    margin: auto;
}
